@model FHIRcastSandbox.Model.ClientModel

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" type="text/css" href="~/css/bootstrap.min.css" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="~/css/Style.css" />
    <title>View</title>
</head>
<body>
    <h1 align="center">FHIRcast Sandbox</h1>
    <div id="root" class="container-fluid" style="background-color:darkgray;">
        <div class="row">
            @* Client info column *@
            <div class="col-8" style="border:1px solid black">
                <h2 align="center">Client info</h2>
                @* Title row *@
                <div class="row">
                    <div class="col-4"><h3 align="center">Subscription info</h3></div>
                    <div class="col-8"><h3 align="center">User session info</h3></div>
                </div>
                @* Content row *@
                <div class="row justify-content-md-center">
                    @* Subscription column *@
                    <div class="col-4" style="border:1px solid black;">
                        @* Create new subscriptions form *@
                        <div class="row">
                            <div class="col">
                                <div align="center">
                                    <fieldset class="SubscriptionFieldSet">
                                        @{
                                            using (Html.BeginForm("Subscribe", "WebSubClient", FormMethod.Post))
                                            {
                                                <label>Hub url</label>
                                                <br />
                                                <div>
                                                    <input type="text" name="subscriptionUrl" id="subscriptionUrl" class="form-control" />
                                                </div>
                                                <label>Topic</label>
                                                <br />
                                                <div>
                                                    <input type="text" name="topic" id="topic" class="form-control" />
                                                </div>
                                                <label>Events</label>
                                                <br />
                                                <div>
                                                    <input type="text" name="events" id="events" class="form-control" />
                                                </div>

                                                <br />

                                                <div class="row">
                                                    <div class="col"><input type="submit" value="Subscribe" class="btn btn-secondary" /></div>
                                                </div>
                                            }
                                        }
                                    </fieldset>
                                </div>
                            </div>
                        </div>
                        @* Table of active subscriptions *@
                        <div class="row">
                            <div class="col">
                                <fieldset class="SubscriptionsTable">
                                    <table id="clientSubTable" class="table table-striped table-bordered table-dark">
                                        <thead class="thead-dark">
                                            <tr><td colspan="4" align="center">Client's Subscriptions</td></tr>
                                            <tr>
                                                <td>Hub URL</td>
                                                <td>Topic</td>
                                                <td>Events</td>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            @if (Model.ActiveSubscriptions != null)
                                            {
                                                @foreach (var item in Model.ActiveSubscriptions)
                                                {
                                                    <tr>
                                                        <td>@item.HubURL</td>
                                                        <td>@item.Topic</td>
                                                        <td>@String.Join(",", item.Events)</td>
                                                        <td><button class="btn-primary" id="@item.UID" onclick="unsubscribe(this.id)">Unsubscribe</button></td>
                                                    </tr>
                                                }
                                            }
                                        </tbody>
                                    </table>
                                </fieldset>
                            </div>
                        </div>
                    </div>

                    @* Session Info Column *@
                    <div class="col-8" style="border:1px solid black">
                        <div align="center">
                            @* Current status row *@
                            <div class="row">
                                @* Patient column *@
                                <div class="col" style="border:1px solid black">
                                    <div class="panel-title "><strong>Patient Context</strong></div>
                                    @if (Model.Patient != null)
                                    {
                                        <br />
                                        @Html.Label("Name: " + Model.Patient.Name[0].ToString()) @*Model.PatientName)*@
                                        <br />
                                        @Html.Label("ID: " + Model.Patient.Id)
                                        <br />
                                        @Html.Label("DOB: " + Model.Patient.BirthDate)

                                    } else
                                    {
                                        <div>No patient selected.</div>
                                    }
                                </div>
                                @* Study column *@
                                <div class="col" style="border:1px solid black">
                                    <label>Study</label>
                                    <br />
                                    @Html.Label("Accession number: " + Model.AccessionNumber)
                                    <br />
                                    @Html.Label("Study ID: " + Model.StudyId)


                                </div>
                            </div>
                            @* Selection list row *@
                            <div class="row">
                                @* Patient column *@
                                <div class="col" style="border:1px solid black">
                                    <label>Available Patients</label>
                                    </br>

                                    @{
                                        using (Html.BeginForm("openPatient", "WebSubClient", FormMethod.Post))
                                        {
                                            <select id="patientSelect" name="patientSelect" size="@Model.SearchPatients.ToList().Count" class="form-control">
                                                @foreach (SelectListItem itm in Model.SearchPatients)
                                                {
                                                    <option value="@itm.Value">@itm.Text</option>
                                                }
                                            </select>
                                            <div class="row">
                                                <div class="col"><input type="submit" value="Open Patient" class="btn btn-secondary" /></div>
                                            </div>
                                        }
                                    }
                                </div>
                                @* Study column *@
                                <div class="col" style="border:1px solid black">
                                    <label>Available Studies</label>
                                </div>
                            </div>
                            @* Search criteria row *@
                            <div class="row">
                                @* Patient column *@
                                <div class="col" style="border:1px solid black">
                                    <div class="panel-title "><strong>Patient search</strong></div>
                                    
                                    @{
                                        using (Html.BeginForm("searchPatients", "WebSubClient", FormMethod.Post))
                                        {
                                            <label>Patient ID: </label>
                                            <br />
                                            <div>
                                                <input type="text" name="patientID" id="patientID" class="form-control" />
                                            </div>
                                            <br />
                                            <label>Patient Name: </label>
                                            <br />
                                            <div>
                                                <input type="text" name="patientName" id="patientName" class="form-control" />
                                            </div>

                                            <div class="row">
                                                <div class="col"><input type="submit" value="Search Patients" class="btn btn-secondary" /></div>
                                            </div>
                                        }
                                    }
                                </div>
                                @* Study column *@
                                <div class="col" style="border:1px solid black">
                                    <div class="panel-title "><strong>Study search</strong></div>
                                </div>
                            </div>
                            @* Settings row *@
                            <div class="row">
                                <div class="col">
                                    <div class="panel-group">
                                        <div class="panel panel-default">
                                            @{
                                                using (Html.BeginForm("saveSettings", "WebSubClient", FormMethod.Post))
                                                {
                                                    <div class="panel-heading">
                                                        <h4 class="panel-title">
                                                            <a data-toggle="collapse" href="#settings">Settings</a>
                                                        </h4>
                                                    </div>
                                                    <div id="settings" class="panel-collapse collapse">
                                                        @*<div class="panel-body">@Html.TextBoxFor(m => m.FHIRServer, new { @class = "form-control" })</div>*@
                                                        <label for="fhirServer">FHIR Server: </label><input type="text" name="fhirServer" id="fhirServer" class="form-control" value="@Model.FHIRServer" />
                                                        <div class="panel-footer"><input type="submit" value="Save" class="btn btn-secondary" data-toggle="collapse" data-target="#settings" /></div>
                                                    </div>
                                                }
                                            }
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            @* Hub info column *@
            <div class="col-4" style="border:1px solid black">
                <h2 align="center">Hub info</h2>
                @* Hub subscriptions row *@
                <div class="row">
                    <div class="col" style="border:1px solid black">
                        <fieldset class="SubscriptionsTable">
                            <table id="subsToHubTable" class="table table-striped table-bordered table-dark">
                                <thead class="thead-dark">
                                    <tr><td colspan="4" align="center">Subscriptions to Hub</td></tr>
                                    <tr>
                                        <td>Callback URL</td>
                                        <td>Topic</td>
                                        <td>Events</td>
                                    </tr>
                                </thead>
                                <tbody>
                                    @if (Model.SubscriptionsToHub != null)
                                    {
                                        @foreach (var item in Model.SubscriptionsToHub)
                                        {
                                            <tr>
                                                <td>@item.Callback.ToString().Substring(0, item.Callback.ToString().LastIndexOf('/'))/{subscriptionId}</td>
                                                <td>@item.Topic</td>
                                                <td>@String.Join(",", item.Events)</td>
                                            </tr>
                                        }
                                    }
                                </tbody>
                            </table>
                        </fieldset>
                    </div>
                </div>
            </div>
        </div>

        @* Miscellaneous row *@
        <div class="row">
            <div class="col-12">
                <div align="center">
                    @{
                        using (Html.BeginForm("Refresh", "WebSubClient", FormMethod.Post))
                        {
                            <div class="form-group">
                                <input type="submit" value="Refresh" class="btn btn-primary" />
                            </div>
                        }
                    }
                </div>
            </div>
        </div>
    </div>

    <script src="~/js/jquery-3.3.1.min.js"></script>
    <script src="~/js/signalr.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="~/js/site.js"></script>
</body>
</html>
